@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 0.375rem;
  width: 0.5rem;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(255 255 255/1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(208 165 90/1);
}
::-moz-scrollbar-thumb {
  cursor: pointer;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  min-height: 424px !important;
  height: inherit !important;
}
.slick-slide > div {
  height: 100% !important;
}
